<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MEMBER" type="com.name.git.vo.MemberVO" />
		<typeAlias alias="ITEM" type="com.name.git.vo.ItemVO" />
		<typeAlias alias="REVIEW" type="com.name.git.vo.ReviewVO" />
		<typeAlias alias="LIKED" type="com.name.git.vo.LikedVO" />
		<typeAlias alias="SELECTED" type="com.name.git.vo.SelectedVO" />
	</typeAliases>
</configuration>

