<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.name.git.vo.MemberVO" />
		<typeAlias alias="Item" type="com.name.git.vo.ItemVO" />
		<typeAlias alias="Review" type="com.name.git.vo.ReviewVO" />
		<typeAlias alias="Liked" type="com.name.git.vo.LikedVO" />
	</typeAliases>
</configuration>

