<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Git">

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="Member">
		INSERT INTO MEMBER VALUES(#{MEM_ID}, #{MEM_PW}, #{MEM_NAME}, #{MEM_AGE}, #{MEM_EMAIL}, #{GENDER_ID}, #{SKINTYPE_ID}, #{MEM_STATE})
	</insert>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 개인정보 보기 -->
	<select id="personalInfo" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>

	<!-- 개인정보 수정 -->
	<update id="modifyPersonalInfo" parameterType="Member">
		UPDATE MEMBER SET MEM_NAME = #{MEM_NAME}, MEM_AGE = #{MEM_AGE}, MEM_EMAIL = #{MEM_EMAIL}, GENDER_ID = #{GENDER_ID}, SKINTYPE_ID = #{SKINTYPE_ID}, MEM_STATE = #{MEM_STATE} WHERE MEM_ID = #{MEM_ID}
	</update>
	
	<!-- 개인정보 비밀번호 확인 -->
	<select id="passwordChecking" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 검색 페이지에 띄워질 개인정보 -->
	<select id="whenSearchingFollowingInfo" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>

	<!-- 메인에서 검색 쿼리문 -->
	<select id="searchedResults" parameterType="Item" resultType="Item">
		SELECT * FROM ITEM WHERE ITEM_CATEGORY = #{ITEM_CATEGORY} AND (ITEM_NAME LIKE '%' || #{ITEM_NAME} || '%' OR ITEM_BRAND LIKE '%' || #{ITEM_NAME} || '%' OR ITEM_ID LIKE '%' || #{ITEM_NAME} || '%')
		<!-- SELECT * FROM ITEM WHERE ITEM_NAME LIKE '%#{ITEM_NAME}%' -->
	</select>
	

	<!-- 제품상세 -->
	<select id="viewItem" parameterType="Item" resultType="Item">
		SELECT * FROM ITEM WHERE ITEM_ID = #{ITEM_ID}
	</select>
	
	<!-- 리뷰작성 -->
	<insert id="writeReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(REVIEW_SEQ.NEXTVAL, #{MEM_ID}, #{REVIEW_TITLE}, #{REVIEW_CONTENT}, #{ITEM_ID}, 0, #{REVIEW_GRADE})
		<selectKey keyProperty="REVIEW_ID" resultType="int" order="AFTER">
			SELECT REVIEW_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 리뷰 리스트 -->
	<select id="reviewLists" parameterType="Review" resultType="Review">
		SELECT * FROM REVIEW
	</select>
	
	<!-- 내가 작성한 리뷰 리스트 -->
	<select id="reviewsIWrote" parameterType="Review" resultType="Review">
		SELECT * FROM REVIEW WHERE MEM_ID = #{MEM_ID}
	</select>
	
</mapper>


