<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Git">

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="MEMBER">
		INSERT INTO MEMBER VALUES(#{MEM_ID}, #{MEM_PW}, #{MEM_NAME}, #{MEM_AGE}, #{MEM_EMAIL}, #{GENDER_ID}, #{SKINTYPE_ID}, #{AGE_ID} ,#{MEM_INFO})
	</insert>
	
	<!-- 로그인 -->
	<select id="memberLogin" parameterType="MEMBER" resultType="MEMBER">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 개인정보 보기 -->
	<select id="personalInfo" parameterType="MEMBER" resultType="MEMBER">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>

	<!-- 개인정보 수정 -->
	<update id="modifyPersonalInfo" parameterType="MEMBER">
		UPDATE MEMBER SET MEM_NAME = #{MEM_NAME}, MEM_AGE = #{MEM_AGE}, MEM_EMAIL = #{MEM_EMAIL}, GENDER_ID = #{GENDER_ID}, SKINTYPE_ID = #{SKINTYPE_ID}, MEM_STATE = #{MEM_STATE} WHERE MEM_ID = #{MEM_ID}
	</update>
	
	<!-- 개인정보 비밀번호 확인 -->
	<select id="passwordChecking" parameterType="MEMBER" resultType="MEMBER">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 검색 페이지에 띄워질 개인정보 -->
	<!-- <select id="whenSearchingFollowingInfo" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select> -->

	<!-- 메인에서 검색 쿼리문 -->
	<select id="searchedResults" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE ITEM_CATEGORY = #{ITEM_CATEGORY} AND (ITEM_NAME LIKE '%' || #{ITEM_NAME} || '%' OR ITEM_BRAND LIKE '%' || #{ITEM_NAME} || '%' OR ITEM_ID LIKE '%' || #{ITEM_NAME} || '%')
	</select>
	
	<!-- 검색 필터 처리(GENDER) -->
	<select id="searchFilter" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE GENDER_ID = #{GENDER_ID}
	</select>
	
	<!-- 검색 필터 처리(AGE) -->
	<select id="searchFilter2" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE AGE_ID = #{AGE_ID}
	</select>
	
	<!-- 검색 필터 처리(SKINTYPE) -->
	<select id="searchFilter3" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE SKINTYPE_ID = #{SKINTYPE_ID}
	</select>

	<!-- 제품상세 -->
	<select id="viewItem" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE ITEM_ID = #{ITEM_ID}
	</select>
	
	<!-- 리뷰작성 -->
	<insert id="writeReview" parameterType="REVIEW">
		INSERT INTO REVIEW(MEM_ID, REVIEW_TITLE, REVIEW_CONTENT, ITEM_ID, REVIEW_LIKE, REVIEW_GRADE) VALUES(#{MEM_ID}, #{REVIEW_TITLE}, #{REVIEW_CONTENT}, #{ITEM_ID}, 0, #{REVIEW_GRADE})
	</insert>
	
	<!-- 리뷰 리스트 -->
	<select id="reviewLists" parameterType="REVIEW" resultType="REVIEW">
		SELECT * FROM REVIEW WHERE ITEM_ID = #{ITEM_ID}
	</select>
	
	<!-- 내가 작성한 리뷰 리스트 -->
	<select id="reviewsIWrote" parameterType="REVIEW" resultType="REVIEW">
		SELECT * FROM REVIEW WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 좋아요 올리기 쿼리 -->
	<update id="raiseLike" parameterType="INT">
		UPDATE REVIEW SET REVIEW_LIKE = REVIEW_LIKE +1 WHERE REVIEW_ID = #{REVIEW_ID}
	</update> 
	
	<!-- 좋아요 올렸을 때 Liked 테이블 insert -->
	<insert id="raiseLike2" parameterType="LIKED">
		INSERT INTO LIKED(REVIEW_ID, TARGET_MEM_ID, MEM_ID) VALUES(#{REVIEW_ID}, #{TARGET_MEM_ID}, #{MEM_ID})
	</insert>
	
	<!-- 내가 좋아요한 리뷰보기 (TARGET_ID로 LIKE_ID 값 구하기) -->
	<select id="reviewsILiked" parameterType="LIKED" resultType="LIKED">
		SELECT REVIEW_ID FROM LIKED WHERE TARGET_MEM_ID = #{TARGET_MEM_ID}
	</select>
	
	<!-- 내가 좋아요한 리뷰보기 (리스트로 리턴) -->
	<select id="reviewsILiked2" parameterType="REVIEW" resultType="REVIEW">
		SELECT * FROM REVIEW WHERE REVIEW_ID = #{REVIEW_ID}
	</select>
	
	<!-- 찜하기 -->
	<insert id="markItem" parameterType="SELECTED">
		INSERT INTO SELECTED(ITEM_ID, MEM_ID) VALUES(#{ITEM_ID}, #{MEM_ID})
	</insert>
	
	<!-- 내가 찜한 리뷰보기 (MEM_ID로 ITEM_ID 값 구하기) -->
	<select id="listsIMarked" parameterType="SELECTED" resultType="SELECTED">
		SELECT ITEM_ID FROM SELECTED WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 내가 찜한 리뷰보기 (리스트로 리턴)-->
	<select id="listsIMarked2" parameterType="ITEM" resultType="ITEM">
		SELECT * FROM ITEM WHERE ITEM_ID = #{ITEM_ID}
	</select>
	
	<!-- 리뷰 상세보기 -->
	<select id="viewReview" parameterType="REVIEW" resultType="REVIEW">
		SELECT * FROM REVIEW WHERE REVIEW_ID = #{REVIEW_ID}
	</select>
	
	<!-- 리뷰 상세보기(멤버 개인정보) -->
	<select id="memInfo" parameterType="MEMBER" resultType="MEMBER">
		SELECT * FROM MEMBER WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 리뷰작성자 팔로잉시 리뷰 리스트 보기 -->
	<select id="followReview" parameterType="REVIEW" resultType="REVIEW">
		SELECT * FROM REVIEW WHERE MEM_ID = #{MEM_ID}
	</select>
	
	<!-- 팔로우 처리 -->
	<insert id="checkFollow" parameterType="FOLLOW">
		INSERT INTO FOLLOW(TARGET_MEM_ID, MEM_ID) VALUES(#{TARGET_MEM_ID}, #{MEM_ID})
	</insert>
</mapper>


